<div class = "container">
<h1><%= @user.user_name %></h1>
<%= @user.first_name %>
<%= @user.last_name %>
</div>
<div class = "container" >
  <h2><%= @user.first_name %>'s meals</h2>
  <%= render partial: "meals/meal", collection: @user.meals, as: :meal %>
</div>