<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meal.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meal.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @meal.location %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @meal.image.url(:thumb) %>
</p>
<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %> |
<%= link_to 'Message', new_meal_message_path(@meal) %>
