<center><h1> dashboard </h1></center>
<%= link_to "add meal", new_meal_path %>
<h3>public meals</h3>
<div class = "meals">
  <% @meals.each do | meal | %>
    <div class = "meal">
      <div class = "meal name">
        <%= link_to meal.name, meal_path(meal) %>
      </div>
      <div class = "meal description">
        <%= meal.description %>
      </div>
    </div>
  <% end %>
</div>
<h3>personal meals</h3>
<div class = "meals">
  <% @personal_meals.each do | meal | %>
    <div class = "meal">
      <div class = "meal name">
         <%= link_to meal.name, meal_path(meal) %>
      </div>
      <div class = "meal description">
        <%= meal.description %>
      </div>
    </div>
  <% end %>
</div>