<center><h1> Foodboard </h1></center>
<div class = "container">
    <%= form_tag("/search", method: "get", id: "search_form") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q, "", class: "form-control") %>
    <%= submit_tag("Search", class: "btn btn-success btn-sm") %>
  <% end %>
  <%= link_to "add meal", new_meal_path %>
  
  <div class = "row">
  <div class = "meals pull-left col-md-12">
    <h2>My meals</h2>
    <%= render partial: "meals/meal", collection: @personal_meals, as: :meal %>
  </div>
  
</div>

  <div class = "col-md-12">
 
      <h2>public meals</h2><h6>food made in last 1 hour</h6>
    <%= render partial: "meals/meal", collection: @meals, as: :meal %>
  </div>  
</div>

